


.outer{
  background-color: rgb(24, 23, 23);
  width: 100vw;
  height: 100vh;
  padding: 10px 10px;
  position: relative;
}

.box{
  background: rgb(36, 38, 38);
    background: linear-gradient(45deg, rgba(36, 38, 38, 1) 0%, rgba(48, 51, 51, 1) 85%, rgba(32, 34, 34, 1) 100%);
  width: 28rem;
  height: 28rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  
}

.star{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(56, 55, 55);
  position: relative;
  padding: 16px;
  margin-bottom: 30px;
}

.starIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text>h1{
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
} 

.text>p{
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(133, 133, 133);
}

.rate{
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.rates{
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgb(56, 55, 55);
  border-radius: 50%;
  padding: 16px;
  text-align: center;
  color: rgb(133, 133, 133);
}

.rates:hover {
  background-color: rgb(141, 139, 139);
  color: white;
}

.rates:focus{
  background-color: orange;
}


button{
  color: white;
  background-color: orange;
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2rem;
}

button:active{
  color: orange;
  background-color: white;
}

.imageContainer{
  margin: 0 auto ;
}

.imageContainer>img{
  height: 6rem;
}
.ratingTab{
  color: orange;
  background-color:rgb(56, 55, 55); 
  width: 16rem;
  margin: 2rem auto;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  text-align: center;
}

.desc{
  margin-top: 1.2rem;
}

.desc>h1{
  text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.desc>p{
  font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(133, 133, 133);
    text-align: center;
}